@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Stick footer to the bottom */
.footer {
  margin-top: auto;
}

/* UTILITIES */
:root {
  --primary-color: #0f2235;
  --secondary-color: #c02428;
  --darker-red: rgb(154, 29, 32);
  --dark-color: #04162b;
  --grey-color: #8f969e;
  --darker-grey: #848b92;
  --blue-color: #76b6ef;
  --darker-blue: #70aee4;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.card {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
}

.btn {
  padding: 10px 30px;
  cursor: pointer;
  background: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
}

.btn-sm {
  padding: 3px 15px;
  font-size: 1rem;
}

.btn-outline {
  background-color: transparent;
  border: 1px #fff solid;
}

.btn:hover {
  transform: scale(0.98);
}

/* Backgrounds & colored buttons */
.bg-primary,
.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.bg-secondary,
.btn-secondary {
  background-color: var(--secondary-color);
  color: #fff;
}

.btn-secondary:hover {
  background-color: var(--darker-red);
}

.btn-grey {
  background-color: var(--grey-color);
  border: 1px solid var(--darker-grey);
  color: #fff;
}

.btn-grey:hover {
  background-color: var(--darker-grey);
  border: 1px solid var(--darker-grey);
}

.btn-blue {
  background-color: var(--blue-color);
  border: 1px solid var(--darker-blue);
  color: #fff;
}

.btn-blue:hover {
  background-color: var(--darker-blue);
  border: 1px solid var(--darker-blue);
}

.bg-dark,
.btn-dark {
  background-color: var(--dark-color);
  color: #fff;
}

.bg-light,
.btn-light {
  background-color: var(--light-color);
  color: #333;
}

.bg-primary a,
.btn-primary a,
.bg-secondary a,
.btn-secondary a,
.bg-dark a,
.btn-dark a {
  color: #fff;
}

/* Text colors */
.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-light {
  color: var(--light-color);
}

/* Text sizes */
.lead {
  font-size: 20px;
}

.sm {
  font-size: 1rem;
}

.md {
  font-size: 2rem;
}

.lg {
  font-size: 3rem;
}

.xl {
  font-size: 4rem;
}

/* Text positions */
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/* Alert */
.alert {
  background-color: var(--light-color);
  padding: 10px 20px;
  font-weight: bold;
  margin: 15px 0;
}

.alert i {
  margin-right: 10px;
}

.alert-success {
  background-color: var(--success-color);
  color: #fff;
}

.alert-error {
  background-color: var(--error-color);
  color: #fff;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.flex-wrap {
  flex-wrap: wrap;
}

.between {
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

/* Margin */
.my-1 {
  margin: 1rem 0 !important;
}

.my-2 {
  margin: 1.5rem 0 !important;
}

.my-3 {
  margin: 2rem 0 !important;
}

.my-4 {
  margin: 3rem 0 !important;
}

.my-5 {
  margin: 4rem 0 !important;
}

.m-1 {
  margin: 1rem !important;
}

.m-2 {
  margin: 1.5rem !important;
}

.m-3 {
  margin: 2rem !important;
}

.m-4 {
  margin: 3rem !important;
}

.m-5 {
  margin: 4rem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: 2.3rem !important;
}

.mt-3 {
  margin-top: 4rem !important;
}

/* Padding */
.py-1 {
  padding: 1rem 0 !important;
}

.py-2 {
  padding: 1.5rem 0 !important;
}

.py-3 {
  padding: 2rem 0 !important;
}

.py-4 {
  padding: 3rem 0 !important;
}

.py-5 {
  padding: 4rem 0 !important;
}

.py-6 {
  padding: 6rem 0 !important;
}

.p-1 {
  padding: 1rem !important;
}

.p-2 {
  padding: 1.5rem !important;
}

.p-3 {
  padding: 2rem !important;
}

.p-4 {
  padding: 3rem !important;
}

.p-5 {
  padding: 4rem !important;
}

.pb-10 {
  padding-bottom: 25rem !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

code,
pre {
  background: #333;
  color: #fff;
  padding: 10px;
}

select {
  border: 1px solid #7f8c8d;
  color: #2c3e50;
  border-radius: 5px;
  padding: 0.5rem;
  width: 100%;
}

.hidden {
  visibility: hidden;
  height: 0;
}

/* Navbar */
.navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 80px;
}

.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar .logo img {
  height: 30px;
  width: auto;
}

.navbar .logo img:nth-of-type(1) {
  margin-right: 1.2rem;
}

.navbar .logo img:nth-of-type(2) {
  margin-left: 1.2rem;
  transform: rotate(180deg);
}

.navbar ul,
.navbar .user {
  display: flex;
  align-items: center;
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 7px;
}

.navbar a.btn-secondary {
  padding: 8px 30px;
  border-radius: 5px;
}

.navbar a:not(.btn-secondary):hover,
.navbar a.active {
  border-bottom: 2px #fff solid;
}

.navbar .user {
  margin-right: 20px;
}

.navbar .user img {
  width: 40px;
  margin-right: 15px;
}

.navbar .flex {
  justify-content: space-between;
}

/* Showcase */
.showcase {
  height: 400px;
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
}

.showcase h1 {
  font-size: 40px;
}

.showcase p {
  margin: 20px 0;
}

.showcase .grid {
  overflow: visible;
  grid-template-columns: 55% auto;
  gap: 30px;
}

.showcase-text {
  animation: slideInFromLeft 1s ease-in;
}

.showcase-text h1 {
  margin-top: 0;
}

.showcase-form {
  position: relative;
  top: 65px;
  height: 360px;
  width: 400px;
  padding: 40px;
  z-index: 100;
  justify-self: flex-end;
  animation: slideInFromRight 1s ease-in;
}

.showcase-form .form-control,
.login-form .form-control,
.customer-form .form-control {
  margin: 30px 0;
}

.showcase-form input:not([type="submit"]),
.login-form input:not([type="submit"]),
.customer-form input:not([type="submit"]):not([type="reset"]) {
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 6px 4px;
  font-size: 16px;
}

.showcase-form input:focus,
.login-form input:focus,
.customer-form input:focus {
  outline: none;
}

.showcase::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: -95px;
  right: 0;
  left: 0;
  background: #fcfcfc;
  transform: skewY(-5deg);
  -webkit-transform: skewY(-5deg);
  -moz-transform: skewY(-5deg);
  -ms-transform: skewY(-5deg);
}

.showcase::before {
  content: "";
  position: absolute;
  height: 100px;
  bottom: -95px;
  right: 0;
  left: 0;
  background: #fcfcfc;
  transform: skewY(5deg);
  -webkit-transform: skewY(5deg);
  -moz-transform: skewY(5deg);
  -ms-transform: skewY(5deg);
}

/* Stats */
.stats {
  padding-top: 110px;
  padding-bottom: 30px;
  animation: opacityIn 1s ease-in;
  background: #fcfcfc;
}

.stats-heading {
  max-width: 500px;
  margin: auto;
}

.stats .grid h3 {
  font-size: 35px;
}

.stats .grid p {
  font-size: 20px;
  font-weight: bold;
}

.stats .stats-card {
  width: 100%;
  padding: 16px 20px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 70px 1fr;
  column-gap: 25px;
  flex-direction: column;
  background: #fff;
  text-align: left;
}

.stats .stats-card i,
.stats .stats-card h3 {
  color: var(--secondary-color);
  font-weight: bold;
}

.stats .stats-card .card-icon {
  grid-row: 1 / span 2;
  padding-right: 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats .stats-card .card-icon i {
  font-size: 35px;
}

.stats .stats-card p {
  margin: 0;
}

/* Footer */
.footer .flex {
  justify-content: space-between;
}

.footer .social {
  text-align: right;
}

.footer .social a {
  margin: 0 10px;
}

/* Login */
.login-form {
  padding: 40px;
  width: 400px;
}

.login-form input[type="submit"] {
  width: 100%;
}

/* Page */
.page {
  padding: 4rem 0;
}

.page h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.page table {
  border-collapse: collapse;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.page table thead tr {
  height: 60px;
  background: var(--primary-color);
}

.page table thead tr th {
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}

.page table tbody tr {
  height: 50px;
  font-size: 15px;
  color: gray;
  line-height: 1.2;
  font-weight: unset;
}

.page table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

.page table td,
.page table th {
  text-align: left;
}

.page table tr td:first-child,
.page table tr th:first-child {
  padding-left: 50px;
}

.page table tr td:last-child,
.page table tr th:first-child {
  padding-right: 50px;
}

.page table ul {
  display: flex;
  justify-content: space-between;
}

.page table ul li a {
  padding: 3px 15px;
  font-size: 0.8rem;
}

/* Customers */
.customer-form {
  width: 500px;
}

.form-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.form-buttons .btn {
  flex-grow: 1;
  text-align: center;
  font-size: 0.85rem;
}

.customer-details {
  grid-template-columns: 1fr 1fr 60px;
}

.customer-details h2 b {
  margin-left: 9px;
}

.customer-form .address-select {
  display: grid;
  grid-template-columns: 1fr 40px 95px;
}

.customer-form.card {
  padding: 30px;
}

/* Animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(50%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes opacityIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Tablets and under */
@media (max-width: 966px) {
  .grid,
  .showcase .grid,
  .stats .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .footer .grid {
    gap: 30px;
  }

  .footer h1 {
    margin: 0;
  }

  .footer .grid {
    flex-direction: column;
    text-align: center;
  }

  .footer .social {
    text-align: center;
  }

  .showcase {
    height: auto;
  }

  .showcase-text {
    text-align: center;
    margin-top: 40px;
    animation: slideInFromTop 1s ease-in;
  }

  .showcase-form {
    justify-self: center;
    margin: auto;
    animation: slideInFromBottom 1s ease-in;
  }
}

/* Between mobile and tablet */
@media (max-width: 675px) {
  .navbar {
    height: 150px;
  }

  .navbar .logo {
    padding-top: 20px;
  }

  .navbar nav {
    padding-bottom: 20px;
  }

  .navbar .flex {
    flex-direction: column;
  }

  .navbar ul {
    padding: 10px;
  }
}

/* Mobile */
@media (max-width: 500px) {
  .showcase-form {
    width: 300px;
  }
}
