@import '../../../styles/variables';

table {
  border-collapse: collapse;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  position: relative;

  thead tr,
  tfoot tr {
    height: 60px;
    background: $primary-color;
  }

  thead {
    tr {
      th {
        font-size: 18px;
        color: #fff;
        line-height: 1.2;
        font-weight: unset;
        text-align: left;
      }
    }
  }

  tr th:last-child,
  tr td:last-child {
    padding-right: 50px;
  }

  tr th:first-child,
  tr td:first-child {
    padding-left: 50px;
  }

  td,
  th {
    text-align: left;
  }

  tbody {
    tr {
      height: 50px;
      font-size: 15px;
      color: gray;
      line-height: 1.2;
      font-weight: unset;

      &:nth-child(even) {
        background-color: #f5f5f5;
      }

      td {
        ul {
          display: flex;
          justify-content: space-between;

          li {
            .btn {
              padding: 3px 15px;
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
}
