$primary-color: #0f2235;
$secondary-color: #c02428;
$darker-red: rgb(154, 29, 32);
$dark-color: #04162b;
$grey-color: #8f969e;
$darker-grey: #848b92;
$blue-color: #76b6ef;
$darker-blue: #70aee4;
$light-color: #f4f4f4;
$success-color: #5cb85c;
$error-color: #d9534f;
