@import 'variables';
@import 'helpers';
@import 'animations';

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #333;
  line-height: 1.5;
}

b,
strong {
  font-weight: bold;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.btn {
  padding: 10px 30px;
  cursor: pointer;
  background: $primary-color;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.btn-sm {
  padding: 3px 15px;
  font-size: 1rem;
}

.btn-outline {
  background-color: transparent;
  border: 1px #fff solid;
}

.btn-block {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  transform: scale(0.98);
}

/* Backgrounds & colored buttons */
.bg-primary,
.btn-primary {
  background-color: $primary-color;
  color: #fff;
}

.bg-secondary,
.btn-secondary {
  background-color: $secondary-color;
  color: #fff;
}

.btn-secondary:hover {
  background-color: $darker-red;
}

.btn-grey {
  background-color: $grey-color;
  border: 1px solid $darker-grey;
  color: #fff;
}

.btn-grey:hover {
  background-color: $darker-grey;
  border: 1px solid $darker-grey;
}

.btn-blue {
  background-color: $blue-color;
  border: 1px solid $darker-blue;
  color: #fff;
}

.btn-blue:hover {
  background-color: $darker-blue;
  border: 1px solid $darker-blue;
}

.bg-dark,
.btn-dark {
  background-color: $dark-color;
  color: #fff;
}

.bg-light,
.btn-light {
  background-color: $light-color;
  color: #333;
}

.bg-primary a,
.btn-primary a,
.bg-secondary a,
.btn-secondary a,
.bg-dark a,
.btn-dark a {
  color: #fff;
}

/* Text colors */
.text-primary {
  color: $primary-color;
}

.text-secondary {
  color: $secondary-color;
}

.text-dark {
  color: $dark-color;
}

.text-light {
  color: $light-color;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

code,
pre {
  background: #333;
  color: #fff;
  padding: 10px;
}

.hidden {
  visibility: hidden;
  height: 0;
}

/* Login */
.login-form {
  padding: 40px;
  width: 400px;
}

.login-form input[type='submit'] {
  width: 100%;
}

/* Page */
.page {
  padding: 4rem 0;
}

.page h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

/* Customers */
.customer-form {
  width: 500px;
}

.form-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.form-buttons .btn {
  flex-grow: 1;
  text-align: center;
  font-size: 0.85rem;
}

.customer-details {
  grid-template-columns: 1fr 1fr 60px;
}

.customer-details h2 b {
  margin-left: 9px;
}

.customer-form .address-select {
  display: grid;
  grid-template-columns: 1fr 40px 95px;
}

.customer-form.card {
  padding: 30px;
}

/* Quotes */
.quote-details {
  grid-template-columns: 1fr 1fr;
  padding: 30px;
}

.quote-details h2 {
  margin: 0;
}

.quote-details .approved {
  color: $success-color;
}

.language-select {
  width: 100px;
  position: absolute !important;
}

.edit-btn {
  text-align: center;
  padding: 3px;
}

/* Dashboard */
.dashboard-links {
  .card {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover {
      transform: scale(1.05);
    }

    svg {
      font-size: 35px;
      margin-bottom: 8px;
    }
  }
}

.user-details {
  width: 500px;
  margin: 10px auto;

  img {
    height: 100px;
    width: auto;
    margin: 0 auto;
  }
}

@media (max-width: 1150px) {
  .dashboard-links {
    grid-template-columns: repeat(2, 1fr) !important;
    text-align: center;
  }
}

/* Tablets and under */
@media (max-width: 966px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
