.footer {
  margin-top: auto;

  .footer__social {
    text-align: right;
    font-size: 2em;

    svg {
      margin: 0 10px;
    }
  }
}

@media (max-width: 966px) {
  .footer {
    .grid {
      gap: 30px;
      flex-direction: column;
      text-align: center;
    }

    h1 {
      margin: 0;
    }

    .footer__social {
      text-align: center;
    }
  }
}
