.form {
  .form__error {
    background: #e87c03;
    border-radius: 4px;
    font-size: 14px;
    margin: 20px 0 16px 0;
    color: white;
    padding: 15px 20px;
  }

  .form__control {
    margin: 30px 0;

    input {
      border: 0;
      border-bottom: 1px solid #b4becb;
      width: 100%;
      padding: 6px 4px;
      font-size: 16px;

      &:focus {
        outline: none;
      }
    }
  }
}
